.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding-top: 50px;
  padding-bottom: 75px;
}

.sidebar {
	background-color: red;
}

.main {
	background-color: blue;
}